@model PI2022.Models.Schedule

@{
    ViewData["Title"] = "Dodaj u raspored";
}

<h1>Dodaj u raspored</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zaposlenik" class="control-label">Zaposlenik</label>
                <select asp-for="Zaposlenik" class="form-control form-select-sm form-select">
                    <option>--- Odaberite zaposlenika ---</option>
                    @foreach(Employees zaposlenik in Model.Employees)
                    {
                        <option>@zaposlenik.Ime @zaposlenik.Prezime</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Posao" class="control-label">Posao</label>
                <select asp-for="Posao" class="form-control form-select-sm form-select">
                    <option>--- Odaberite posao ---</option>
                    @foreach(Jobs job in Model.Jobs)
                    {
                        <option>@job.Naziv</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Napomena" class="control-label">Napomena</label>
                <input asp-for="Napomena" class="form-control" />
                <span asp-validation-for="Napomena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PocetakRada" class="control-label">Početak rada</label>
                <input asp-for="PocetakRada" class="form-control" />
                <span asp-validation-for="PocetakRada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZavrsetakRada" class="control-label">Završetak rada</label>
                <input asp-for="ZavrsetakRada" class="form-control" />
                <span asp-validation-for="ZavrsetakRada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag na popis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
