@model PI2022.Models.Equipment

@{
    ViewData["Title"] = "Uredi";
}

<h1>Uredi opremu</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label">Naziv</label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategorija" class="control-label"></label>
                <select asp-for="Kategorija" class="form-control" name="Kategorija">
                    <option>Ljetna kolekcija</option>
                    <option>Jesenska kolekcija</option>
                    <option>Zimska kolekcija</option>
                    <option>Proljetna kolekcija</option>
                    <option>Ostalo</option>
                    <span asp-validation-for="Kategorija" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Proizvodac" class="control-label">Proizvođač</label>
                <input asp-for="Proizvodac" class="form-control" />
                <span asp-validation-for="Proizvodac" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="Dobavljac" class="control-label">Dobavljač</label>
                <input asp-for="Dobavljac" class="form-control" />
                <span asp-validation-for="Dobavljac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumKupnje" class="control-label">Datum kupnje</label>
                <input asp-for="DatumKupnje" class="form-control" type="date"/>
                <span asp-validation-for="DatumKupnje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolicina" class="control-label">Količina</label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NabavnaCijena" class="control-label">Nabavna cijena</label>
                <input asp-for="NabavnaCijena" class="form-control" />
                <span asp-validation-for="NabavnaCijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CijenaDostave" class="control-label">Cijena dostave</label>
                <input asp-for="CijenaDostave" class="form-control" />
                <span asp-validation-for="CijenaDostave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferentnaCijena" class="control-label">Referentna cijena</label>
                <select asp-for="ReferentnaCijena" class="form-control form-select-sm form-select">
                    <option></option>
                    @foreach(References x in Model.References)
                    {
                        <option>@x.CijenaReferentneOpreme</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Uredi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
